@import url("https://fonts.googleapis.com/css?family=Alegreya:900|Open+Sans|Slabo+27px&display=swap");

body {
  background-color: #fffbf7;
}
.header {
  margin: 40px 20px 0 20px;
  background-color: red;
  font-size: 0;
  height: 45px;
}
.header > * {
  font-family: sans-serif;
  font-size: 16px;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  height: 45px;
}
.logo {
  width: 15%;
}
.logo > img {
  height: 100%;
}
.navbar {
  width: 70%;
  text-align: left;
  color: #025157;
  font-weight: 500; 
}
.navbar ul li {
  display: inline;
  margin: 0 25px;
  color: #025157;
}
.actions {
  width: 15%;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
}
.actions > * {
  margin: 0 10px;
}
.actions a {
  color: #67b54b;
}
.actions button {
  color: #fff;
  background-color: #67b54b;
  padding: 12px 14px;
  border: 0;
  border-radius: 5px;
}
h1 {
  color: #025157;
  font-family: 'Alegreya', sans-serif;
}
h4 {
  color: #46484c;
}
p {
  color: #8b8b8bcc;
}
button {
  color: #fff;
  background-color: #025157;
}
li {
  display: inline;
}